/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Général */

*{
    margin: 0;
}

:root{
    --notosans: "Noto Sans", sans-serif;
    --gloriapolice: "Gloria Hallelujah", cursive;
    --orangefoncé: #CC3900;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--notosans);
}

a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

h1{
    font-family: var(--gloriapolice);
    font-size: 45px;
    font-weight: 400;
}

h2{
    font-family: var(--gloriapolice);
    font-size: 25px;
    font-weight: 400;
}

p{
    font-family: var(--notosans);
    font-size: 16px;
}

i{
    color: var(--orangefoncé);
    padding-right: 10px;
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 103px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header #Accueil{
    color: var(--orangefoncé);
}

header div i{
    color: var(--orangefoncé);
}

header #burger_menu{
    display: none;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

footer a img{
    width: 103px;
}

footer div i{
    color: var(--orangefoncé);
}

footer .nav nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

footer .nav{
    display: inline
}

footer .nav #artcopy{
    text-align: center;
}

footer .nav #Accueil{
    color: var(--orangefoncé);
}