/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Général */

*{
    margin: 0;
}

:root{
    --notosans: "Noto Sans", sans-serif;
    --gloriapolice: "Gloria Hallelujah", cursive;
    --orangefoncé: #CC3900;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--notosans);
}

a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

h1{
    font-family: var(--gloriapolice);
    font-size: 45px;
    font-weight: 400;
}

h2{
    font-family: var(--gloriapolice);
    font-size: 25px;
    font-weight: 400;
}

p{
    font-family: var(--notosans);
    font-size: 16px;
}

i{
    color: var(--orangefoncé);
    padding-right: 10px;
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 103px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header #Accueil{
    color: var(--orangefoncé);
}

header div i{
    color: var(--orangefoncé);
}

header #burger_menu{
    display: none;
}

/* Main */

main .title{
    margin: 30px auto;
    max-width: 1150px;
}

main .peinture{
    margin: auto;
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

main .peinture article{
    text-align: center;
}

main .peinture article p{
    margin: auto;
    width: 255px;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

footer a img{
    width: 103px;
}

footer div i{
    color: var(--orangefoncé);
}

footer .nav nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

footer .nav{
    display: inline
}

footer .nav #artcopy{
    text-align: center;
}

footer .nav #Accueil{
    color: var(--orangefoncé);
}

@media screen and (max-width: 1024px){
    header{
        padding: 0 15px;
    }

    header nav ul{
        display: none;
    }

    header #burger_menu{
        display: flex;
    }

    header div{
        display: none;
    }

    main{
        padding: 0 15px;
    }

    main .title{
        text-align: center;
    }

    main .peinture{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    footer{
        padding: 0 15px;
    }

    footer .nav #artnav{
        display: none;
    }
}

@media screen and (max-width: 767px){
    header{
        padding: 0 15px;
    }

    main .peinture{
        display: inline;
    }

    main .peinture article{
        margin-bottom: 15px;
    }

    main .title h1{
        font-size: 22px;
    }

    main .peinture article #n1{
        width: 280px;
    }

    footer{
        padding: 0 15px;
    }

    footer a{
        display: none;
    }

    footer .nav #artnav nav{
        display: none;
    }
}